body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }
div{margin: 0;
  padding: 0;}
.cursor{cursor: pointer;}
/* navbar*/
.nav-text{
  font-size: 1.2rem;
}
.text-credits{
  margin-left:2rem;
}
.mr-credits{margin-right: 0.1rem !important;}
/* form */
.form-label{font-size: 1.1rem;}
.text-prewrap{white-space: pre-wrap;}
/* padding */
.py-2{margin:2rem auto;}
.my-1{margin:1rem auto;}
.my-2{margin:2rem auto;}
/* 404 */
.wrapper-404{height: 80vh;margin-top: 30vh;}
.emailbox{
  font-size: 0.9rem;
  margin-top:0.5rem;
  min-height:5rem;
  padding:1rem 0.5rem;
  border-radius:3px;
  white-space: pre-wrap;
}
.clear-fix{clear: both;}
.email-status{
  padding:0.5rem;
  margin-right:0.5rem;
  border-radius:3px;
}
.email-status:last-of-type{margin-right: 0;}
.email-date{font-size: 0.9rem;padding:0.5rem;}

/*bars*/
.outer-bar{
  width:100%;
  margin:0.5rem auto;
  height:2rem;
}
.inner-bar{height:2rem;}
.bar-text{line-height: 2rem;padding:0 1rem;}
.event-url{font-size: 0.9rem;}
.event-font{font-size: 0.8rem;}
.d-flex{display: flex;align-items: center;}

